.container {
  background: #ebc575;
  align-items: center;
  bottom: 0;
  padding-bottom: 2rem;
}
.footer {
  display: flex;
  margin: auto 5px;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoText {
  text-align: center;
  font-size: x-small;
  color: white;
}
.socialsicons {
  display: flex;
}
.icons {
  margin: 11px 4px;
}
.links a,
.footerContact {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
}
.footerTitle {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .links a,
  .footerContact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  .logoText {
    font-size: small;
  }
}
