.navbar {
  display: flex;
  flex-direction: column;
  height: 5vh;
  background: #ebc575;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 3vw;
  /* display: flex;
  height: 8vh;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 18px; */
}
.logocontainer {
  display: none;
}
.reservationButton {
  display: none;
}
.navbar a {
  padding: 0 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
}
.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
}

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    flex-direction: initial;
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    z-index: 2 !important;
  }
  .logocontainer {
    display: flex;
    align-items: center;
  }

  .reservationButton {
    height: 32px;
    display: initial;
    background: #d28f71;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
}
