.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ebc575;
  height: 65px;
  /* height: 20vh; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 3vw;
  z-index: 100px;
}
.navbar .items {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  /* right: -5vw; */
  height: 145vh;
  padding: 1rem;
  visibility: hidden;
  background-color: #ebc575;
  bottom: 0;
  font-size: 20px;
  align-items: center;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.shownav .items {
  width: 100vw;
  visibility: visible;
  right: 0;
}
.divlogoIcon1 a {
  display: flex;
  position: fixed;
  visibility: visible;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
}
.divlogoIcon a {
  position: fixed;
  display: flex;
  visibility: visible;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.divlogoIcon {
  padding-left: 70%;
}
.divlogoIcon1 {
  padding-right: 29%;
}
.logocontainer {
  display: none;
}
.reservationButton {
  background: #d28f71;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
}

.btnBurger:hover {
  cursor: pointer;
}
.btnBurger {
  display: block;
  position: fixed;
  top: 2rem;
  left: 1rem;
  cursor: pointer;
}
.Burger_Line:hover {
  cursor: pointer;
}
.Burger_Line,
.Burger_Line::before,
.Burger_Line::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 4px;
  background: white;
}
.Burger_Line::before,
.Burger_Line::after {
  content: "";
  position: absolute;
  right: 0;
}
.Burger_Line::before {
  transform: translateY(-12px);
}
.Burger_Line::after {
  transform: translateY(12px) !important;
}

@media screen and (min-width: 765px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0.5rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    flex-direction: initial;
    font-size: 1vw;
  }
  .navbar .items a {
    display: initial;
    position: relative;
    visibility: visible;
    margin-left: initial;
    padding: 0 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #626262;
  }

  .navbar .items {
    display: initial;
    background-color: initial;
    position: initial;
    height: initial;
    width: initial;
    flex-direction: initial;
  }
  .navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .logocontainer {
    display: flex;
    padding: 0 20px;
    align-items: center;
  }
  .logocontainer a {
    display: flex;
    padding: 0 12px;
    align-items: center;
  }
  .reservationButton {
    height: 32px;
    display: initial;
    background: #d28f71;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btnBurger {
    width: 40px;
    height: 40px;
    display: none;
    border: none;
  }
  .divlogoIcon1 {
    display: none;
  }
  .divlogoIcon {
    display: none;
  }
}
