@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://use.typekit.net/qql6zfk.css");

.firstparagraphe {
  text-align: center;
}

.title {
  color: #96c0c0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 61px;
  margin-bottom: 5px;
}

.title2 {
  color: #96c0c0;
  font-family: "relation-one", sans-serif;
  font-size: 40px;
  margin: 5px;
}

.designhome {
  display: none;
}

@media screen and (min-width: 800px) {
  .designhome {
    display: initial;
  }

  .title {
    font-size: 64px;
  }

  .title2 {
    font-size: 64px;
  }
}
