@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://use.typekit.net/qql6zfk.css");

.firstParagraphe {
  text-align: center;
  background-color: #fbfbfb;
  font-size: 14px;
}
.languageBtn {
  cursor: pointer;
}

.title {
  color: #96c0c0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-top: 61px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title2 {
  color: #96c0c0;
  font-family: "relation-one", sans-serif;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 18px;
}

.designHome {
  display: none;
}

.textFirst {
  width: 70%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  line-height: 15pt;
}

.title3 {
  color: #96c0c0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

.title4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
}

.logoHome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.paragraphHome {
  margin: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 15pt;
}

.thirdTitleHome {
  color: #96c0c0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  padding-top: 20px;
}

.thirdParagrapheText {
  margin: auto;
  width: 70%;
  font-size: 13px;
  text-align: justify;
  line-height: 15pt;
}

.thirdParagraphe {
  background-color: #fbfbfb;
  text-align: center;
}

.imgCouple {
  margin: 30px;
}

.choixHome {
  display: flex;
  flex-direction: column;
}

.whereHome {
  border-radius: 10px;
  height: 31px;
  margin: 10px auto;
  padding-left: 10px;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  background-color: #ededed;
  opacity: 20%;
}

.whenHome {
  border-radius: 10px;
  height: 31px;
  margin: 10px auto;
  padding-left: 10px;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  background-color: #ededed;
  opacity: 20%;
}

.buttonHome {
  border-radius: 10px;
  height: 31px;
  margin: 10px auto 50px auto;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: white;
  background-color: #d28f71;
  opacity: 20%;
}

@media screen and (min-width: 800px) {
  .designHome {
    display: initial;
    width: 50%;
    margin: auto;
  }

  .bebeHomeImage {
    width: 70%;
    height: auto;
  }

  .title {
    font-size: 64px;
  }

  .title2 {
    font-size: 64px;
  }

  .imgCouple {
    width: 50%;
    height: auto;
  }

  .imgcpl {
    width: 35vh;
    height: 35vh;
  }

  .firstParagraphe {
    display: flex;
    flex-direction: row-reverse;
  }

  .thirdTextTitle {
    width: 50%;
  }

  .titleandtextHome {
    width: 50%;
    margin-right: 90px;
  }

  .whereHome {
    height: 52px;
    padding-right: 20px;
    font-size: 18px;
  }

  .whenHome {
    height: 52px;
    padding-right: 20px;
    font-size: 18px;
  }

  .buttonHome {
    height: 55px;
    width: 50%;
    font-size: 27px;
    margin-bottom: 100px;
  }

  .logoHome {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
  }

  .title3 {
    margin: 20px;
    margin-bottom: 60px;
  }

  .thirdParagraphe {
    display: flex;
  }

  .paragraphHome {
    margin-bottom: 50px;
  }

  .thirdParagrapheText {
    width: 50%;
    text-align: justify;
  }

  .homeImage {
    width: 90px;
    height: 90px;
  }
}
