@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.titleAdmin {
  display: none;
}

.navBackOffice {
  background-color: #4b4b4b;
  display: block;
  width: 15%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.eltNavBack {
  list-style: none;
  padding: 10px;
}

.logoBackOffice {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
  margin-bottom: 80px;
}

.listeNavBack {
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}
