@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.titleAdmin {
  display: none;
}

.navBackOffice {
  background-color: #4b4b4b;
  display: block;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 15rem;
  position: fixed;
  top: 0;
  left: 0;
}

.eltNavBack {
  list-style: none;
  padding: 10px;
  opacity: 20%;
}

.logoBackOffice {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
  margin-bottom: 100px;
}

.listeNavBack {
  margin: auto;
  padding-right: 15px;
  padding-left: 20px;
}

.icon {
  margin-right: 5px;
}
