.mainTitle {
  display: flex;
  justify-content: center;
  font-size: 12pt;
}

.validerContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-top: 30px;
  padding: 0px 20px;
  line-height: 5px;
}

.totalInfoContainer {
  display: flex;
  flex-direction: column;
}

.cautionContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  align-items: center;
  padding: 0px 20px;
  font-size: 13pt;
  margin-top: 20px;
}

.emptyShop {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 10pt;
}

.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  background-color: #f8f8f8;
  border: 4px solid #f8f8f8;
  border-radius: 8px;
  font-size: 15pt;
  font-weight: bold;
  padding: 16px 0px;
  text-align: center;
  width: 70px;
  margin-left: 3px;
}

.name_style {
  font-size: 13pt;
  font-weight: bold;
  border-radius: 8px;
  border: solid 4px #f8f8f8;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Media queries */
@media screen and (max-width: 900px) {
  .mainContainer {
    padding: 20px;
  }
  .mainTitle {
    display: none;
  }
}
