.mainTitle {
  display: flex;
  justify-content: center;
  font-size: 12pt;
}

.validerContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-top: 30px;
  padding: 0px 20px;
  line-height: 5px;
}
.totalInfoContainer {
  display: flex;
  flex-direction: column;
}
.cautionContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  align-items: center;
  padding: 0px 20px;
  font-size: 13pt;
  margin-top: 20px;
}

.emptyShop {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 10pt;
}

.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  background-color: #f8f8f8;
  border: none;
  border-radius: 8px;
  font-size: 15pt;
  font-weight: bold;
  padding: 15px 15px;
  margin-bottom: 5px;
  text-align: center;
  width: 70px;
}

.name_style {
  font-size: 15pt;
  border-radius: 8px;
  border: solid 4px #f8f8f8;
  width: 70%;
}

@media screen and (max-width: 700px) {
  .mainContainer {
    display: none;
  }
  .mainTitle {
    display: none;
  }
}
