.titleMainContent {
  text-align: center;
  font-size: 1.5rem;
  padding: 100px 30px 20px 30px;
}

.connexionBtn {
  display: block;
  margin: 0px auto 50px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #d28f71;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
