@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.mainWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px 70px 0px 30px;
  font-family: "Poppins", sans-serif;
}

.searchContainer,
.productNotAvailable {
  display: none;
}

/* COMPONENT PRODUCT */

.productWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ededed;
  border-radius: 8px;
  padding: 50px 50px;
  cursor: pointer;
}

.productWrapperNotAvailable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ededed;
  background: #ededed;
  border-radius: 8px;
  padding: 50px 50px;
}

.main_container {
  display: flex;
  justify-content: center;
}

.main_title {
  display: flex;
  justify-content: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
  .mainWrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .searchContainer {
    display: initial;
    grid-column: 1 / 3;
  }

  .searchBar {
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
  }

  .productNotAvailable {
    display: initial;
    grid-column: 3 / 5;
    align-self: end;
  }
}
