@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.mainWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0px 15px 0px 15px;
  font-family: "Poppins", sans-serif;
}

.searchContainer,
.productNotAvailable {
  display: none;
}

/* COMPONENT PRODUCT */

.productWrapper {
  padding-top: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ededed;
  border-radius: 8px;
  padding: 30px 30px;
  cursor: pointer;
}

.productWrapperNotAvailable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ededed;
  background: #ededed;
  border-radius: 8px;
  padding: 30px 30px;
}

/* Index style */
.AlertLocationContainer {
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AlertLocation {
  width: 70%;
  text-align: center;
}

.main_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.main_title {
  display: none;
}

.paiementSecurColor {
  color: #66c65e;
}
.paiement_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}
.trait_gauche {
  border-top: 2px solid #66c65e;
  width: 70px;
}
.trait_droit {
  border-top: 2px solid #66c65e;
  width: 70px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
  .mainWrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    margin: 40px 100px 0px 0px;
    min-width: 50%;
  }

  .searchContainer {
    display: initial;
    grid-column: 1 / 3;
  }
  .panier_style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  .searchBar {
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
  }

  .productNotAvailable {
    display: initial;
    grid-column: 3 / 5;
  }

  /* Media Queries index */
  .trait_droit {
    display: none;
  }
  .trait_gauche {
    display: none;
  }
  .paiement_container {
    display: none;
  }
  .main_title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .main_container {
    flex-direction: row;
    padding-bottom: 50px;
  }
}
