@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.containerGlobal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #000000;
  padding: 40px;
}
.forms input {
  margin: auto 10px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  width: 300px;
  padding: 9px;
  margin: 7px auto;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}
.button {
  background: #d28f71;
  font-style: normal;
  font-weight: 600;
  height: 2.2rem;
  width: 300px;
  margin: 6px auto;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}
.button1 {
  padding: 4px;
  cursor: pointer;
  background-color: #d28f71;
  border: 1px solid #d28f71;
  border-radius: 10px;
  font-weight: 600;
  width: 350px;
  font-size: 14px;
  padding: 10px;
  width: auto;
  text-align: center;
  color: white;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
  color: black;
  width: 300px;
  font-style: italic;
}
.divMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}
.divMessage > p {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

@media screen and (min-width: 765px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 1.1rem;
    padding: 15px;
    border-radius: 5px;
    margin: 0 70%;
  }

  .divMessage {
    margin-top: initial;
  }

  .title {
    margin: 50px 0px;
    padding: initial;
  }

  .containerGlobal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 35% !important;
    transform: translate(0%, -5%);
    border-radius: 10px;
    height: 30vh;
    width: 30%;
    background-color: #ebc575;
  }
}
