@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.btnInscrSignUp {
  color: white;
  background-color: #d28f71;
  border-radius: 10px;
  width: 450px;
  height: 64px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 27px;
  cursor: pointer;
  margin: 17px;
}

.inputGrandSignUp {
  border-radius: 10px;
  width: 90%;
  height: 50px;
  background-color: #f8f8f8;
  border: 1px solid #b9b9b9bd;
  display: block;
  margin: 17px;
}

.inputPetitSignUp {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background-color: #f8f8f8;
  border: 1px solid #b9b9b9bd;
  display: block;
  margin-top: 17px;
}

.labelForm {
  margin: 17px;
}

.containerForm {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.inputPetitSignUp:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
  -webkit-text-fill-color: #f8f8f8 !important;
}

.inputGrandSignUp:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
  -webkit-text-fill-color: #f8f8f8 !important;
}

.titleContainerSignUp {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.titleSignUp {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.nameLastName,
.codeVille {
  display: flex;
}

.composantSignInContainer {
  margin-right: 50px;
}

@media screen and (max-width: 800px) {
  .containerForm,
  .nameLastName,
  .codeVille {
    flex-wrap: wrap;
  }
  .composantSignInContainer,
  .inscRegisterForm,
  .btnInscrSignUp {
    width: 95%;
    margin: auto;
  }
}
